@media screen and (max-width: 767px){
    .header{
        width:250px;
    }
    .right{
        width:100px;
    }
    .footer{
        width:250px;
    }
}
@media screen and (max-width:479px){
    .header{
        width:150px;
    }
    .right{
        width:150px;
    }
    .footer{
        width:150px;
    }
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }
.wrapper{
    width: 400px;
    height: 450px;
    margin: 0 auto;
}

.header{
    background-color:#141f40;
    height: 100px;

}
.left{
    float: left;
    width: 150px;
    height:250px;
    background-color: #80bfa8;
}
.right{
    width:250px;
    background-color:#8c2727;
    height:250px;
    float:right;
}

.footer{
    height: 100px;
    width: 400px;
    border: 1px solid black;
    background-color:#d98d30;
    
}