@media screen and (max-width:767px){

    #wrapper{
        width: 80%;
    }
}

@media screen and(max-width:479px){

    .header{
        height:300px;
    }
}

@media screen and(max-width:479px){

    .footer{
        height:200px;
    }
}